/*
	Theme Name: successean
	Theme URI: http://successean.com
	Description: Successean Theme
	Version: 1.4.2
	Author: Sean Cooper (@)
	Author URI: http://successean.com
*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
    background-color:#fff;
    overflow-x:hidden;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
/*  margin-bottom: -100px; */
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: auto; 
}
.site-footer {
  background: #FEF4E9;
  width: 100%;
  margin: 0 auto;	
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0
}
a {
	text-decoration: none;
}

.main-wrapper {
	width: 70%;
	margin: 0 auto;
}
.tan {
	color:#c2ad79 !important;
}

/*------------------------------------*\
	HEADER
\*------------------------------------*/
.weill-nav {
	position: absolute;
	width: 300px;
	text-align: right;
}
.weill-nav ul {
	margin-bottom: 40px;
}
.weill-nav ul li {
	text-align: right;
	padding-top: 12px;
	padding-right: 20px;
	padding-bottom: 12px;
}
.weill-nav ul li:nth-child(odd) {
	background-color: rgba(243, 144, 29, 0.8);
}
.weill-nav ul li:nth-child(odd):hover {
	background-color: #02162d;
}
.weill-nav ul li:nth-child(even) {
	background-color: rgba(81, 73, 51, 0.8);
}
.weill-nav ul li:nth-child(even):hover{
	background-color: #02162d;
}
.weill-nav ul li.weill-top-level {
	background-color: transparent;
	padding: 0;
}
.weill-nav ul li.weill-top-level:hover {
	background-color: transparent;
}

.weill-nav ul li a{
	color:#fff;
	text-transform: uppercase;
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 12px;
	letter-spacing: 0.1em;
}
.weill-nav h6 {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 11px;
	text-transform: uppercase;
	color:#fff;
	letter-spacing: 0.2em;
}
.weill-nav h6 span {
	text-transform: none;
	font-size: 17px;
	font-family: 'BodoniFLF';
	font-weight: 100;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
}
.nav-logo img.new-logo {
	position: absolute;
    right: 0;
    height: 80px;
    top: -36px;
    font-family: 'BrandonGrotesque-Regular';
    font-weight: 200;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    letter-spacing: 0.15em;
    line-height: 1.65em;
}
img.header-logo {
    height: 44px;
    margin-left: 10px;
}
img.burger-menu {
    width: 22px;
    margin-left: 5px;
}
img.social-menu-icon {
    width: 18px;
    margin-right: 10px;
}
ul#menu-header-menu {
		display: none;
		z-index: 9999;
}
body.home ul#menu-header-menu {
		display: block;
}


/*------------------------------------*\
	ALTERNATIVE HEADER
\*------------------------------------*/
.weill-nav-alt {
	width: 100%;
	background-color: #010b16;
	text-align: center;
	position: relative;
	height: 44px;
}
.weill-nav-alt ul {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	right: 0;
    width: 300px;
}

.weill-nav-alt ul li {
	text-align: right;
	padding-top: 12px;
	padding-right: 20px;
	padding-bottom: 12px;
}

.weill-nav-alt ul li a{
	color:#fff;
	text-transform: uppercase;
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 12px;
	letter-spacing: 0.1em;
}

.weill-nav-alt ul li:nth-child(odd) {
	background-color: #010b16;
}
.weill-nav-alt ul li:nth-child(odd):hover {
	background-color: #02162d;
}
.weill-nav-alt ul li:nth-child(even) {
	background-color: #010b16;
}
.weill-nav-alt ul li:nth-child(even):hover{
	background-color: #02162d;
}
.weill-nav-alt ul li.weill-top-level-alt {
	background-color: transparent;
	padding: 9px 9px 9px 0;
}
.weill-nav-alt ul li.weill-top-level-alt:hover {
	background-color: transparent;
}


.weill-nav-alt h1 {
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 25px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #fff
}

.weill-nav-alt img.new-logo {
	position: absolute;
    right: 0;
    height: 90px;
    top: 0;
    font-family: 'BrandonGrotesque-Regular';
    font-weight: 200;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    letter-spacing: 0.15em;
    line-height: 1.65em;
    z-index: 99;
}

.weill-nav-alt h6 {
	position: absolute;
	right:40px;
	top: 4px;

	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	color:#fff;
	letter-spacing: 0.15em;
	line-height: 1.65em;
}
.weill-nav-alt h6 span {
	text-transform: none;
	font-size: 17px;
	font-family: 'BodoniFLF';
	font-weight: 100;
	font-style: italic;
	letter-spacing: 0em;
	-webkit-font-smoothing: antialiased;
}


.weill-nav h6 {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 11px;
	text-transform: uppercase;
	color:#fff;
	letter-spacing: 0.2em;
}
.weill-nav h6 span {
	text-transform: none;
	font-size: 17px;
	font-family: 'BodoniFLF';
	font-weight: 100;
	font-style: italic;
	-webkit-font-smoothing: antialiased;
}


/*------------------------------------*\
	FRONT PAGE
\*------------------------------------*/
body.home .weill-nav-alt {
	background-color:#010b16;
	position: absolute;
	z-index: 99;
}
body.home .weill-nav-alt h1 {
	display: none;
}
body.home {
	background: #FEF4E9;
}

/*------------------------------------*\
	LANDING SLIDER
\*------------------------------------*/
img.landing-slide {
	width: 100%;
	min-height: 385px;
}

.landing-text {
    position: absolute;
    top: 100px;
    width: 55%;
    margin: 0 auto;
    left: 300px;
    right: 0;
    text-align: center;
}
.landing-text h5 {
	color:#fff;
	font-family: 'ZocaloText';
	font-size: 24px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	 margin-bottom: 20px;
	 line-height: 1.2em;
}
img.arrow-down {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 13px;
}
.landing-text span.attributed-to {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 11px;
	text-transform: uppercase;
	color:#fff;
	letter-spacing: 0.2em;
}
.ms-nav-next,
.ms-nav-prev {
	display: none;
}


/*------------------------------------*\
	SECOND LEVEL
\*------------------------------------*/
.second-level {
	padding-top: 60px;
	text-align: center;
	color:#fff;
	padding-bottom: 70px;
}
.opening-text h2 {
	text-transform: uppercase;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 24px;
	font-weight: 200;
	letter-spacing: 0.2em;
	color:#010b16;
	text-align: center;
	padding-bottom: 10px;
}
.opening-text h6 {
	text-transform: uppercase;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 11px;
	font-weight: 200;
	letter-spacing: 0.2em;
	color:#010b16;
	text-align: center;
	padding-bottom: 30px;
}
.opening-text p {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 15px;
	color:#010b16;
	text-align: center;
	width: 70%;
	margin: 0 auto 40px;
}
.opening-text button{
	font-family: 'BrandonGrotesque-Medium';
	font-size: 12px;
	font-weight: 200;
	text-transform: uppercase;
	color:#010b16;
	text-align: center;
	border:2px solid #010b16;
	background: #fff;
	padding: 12px 20px;
	width: 220px;
	margin-top: 10px;
}
.opening-text button a {
	color:#010b16;
}


/*------------------------------------*\
	OUR SERVICES BLOCK
\*------------------------------------*/

.our-services-block {
	background-color: #F0EFEB;
	overflow: hidden;
	padding: 20px 30px;
}
.our-services-block{
	overflow: hidden;
}

.our-services-title {
	display: inline-block;
}
.our-services-title h2 {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 20px;
	font-weight: 200;
	text-transform: uppercase;
	color:#143033;
	line-height: 1.1em;
	letter-spacing: 0.2em;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 5px;
}
.our-services-title img {
	display: inline-block;
	vertical-align: middle;
	height: 55px;
	
}
.our-services-button {
	float: right;
}
.our-services-button button {
	font-family: 'BrandonGrotesque-Medium';
	font-size: 11px;
	font-weight: 200;
	text-transform: uppercase;
	color:#010b16;
	text-align: center;
	border:2px solid #010b16;
	background: transparent;
	padding: 12px;
	width: 120px;
	margin-top: 10px;
}
.our-services-button button a {
	color:#010b16;
}



/*------------------------------------*\
	OUR SERVICES GRID
\*------------------------------------*/
.our-services-grid {
	overflow: hidden;
}
.serv-grid {
	width: 33.333%;
	float:left;
	position: relative;
}
.serv-grid img {
	width: 100%;
}
.serv-grid-text {
	position: absolute;
	bottom:10px;
	left:20px;
	width: 90%;
}
.serv-grid h3 {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 22px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	line-height: 1.1em;
	color:#fff;
	width: 300px;
}
.serv-grid p {
	font-family: 'BrandonGrotesque-Light';
	font-size: 15px;
	font-weight: 200;
	line-height: 1.1em;
	color:#fff;
	display: none;
	width: 80%;
	padding-top: 10px;
}
.serv-grid-text:after {
    content: url('/wp-content/themes/successean/img/down-arrow-solid.png');
    position: absolute;
    right: 20px;
    bottom:0;
}


/*------------------------------------*\
	CLIENTS PAGE
\*------------------------------------*/
.our-clients-grid {
	overflow: hidden;
	padding-bottom: 50px;
}
.client-grid {
	width: 33.333%;
	float:left;
	position: relative;
}
body.single-client .client-grid{
	display: none;
}
.client-grid img.client-grid-img {
	width: 100%;
	height: 302px;
}
.client-grid-overlay {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding:15px 0 10px;
	background: rgba(21, 48, 51, 0.4);
	-webkit-transition-delay: 1s; /* Safari */
  -webkit-transition: background 1s ease-in-out;
  -moz-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}
.client-grid:hover > .client-grid-overlay {
	background: rgba(21, 48, 51, 0.9);
}
.client-grid h3 {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 22px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	line-height: 1.3em;
	color:#fff;
	padding-left: 30px;
}
.client-grid h4 {
	font-size: 20px;
	font-family: 'ZocaloText';
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0em;
	-webkit-font-smoothing: antialiased;
	color:#fff;
	padding-left: 30px;
}



/*------------------------------------*\
	SINGLE CLIENT PAGE
\*------------------------------------*/
body.single-client .weill-nav-alt{
	background-color: #010b16;
}
.single-client-grid {
	overflow: hidden;
}
.client-hero {
	width: 100%;
}
.client-hero img {
	width: 100%;
	height: 400px;
}
.client-main {
	background: #010b16;
	padding-top: 70px;
	padding-bottom: 70px;
}
.client-main .wrap {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.client-main .wrap p {
	color:#fff;
	font-family: 'ZocaloText';
	font-size: 22px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	 margin-bottom: 20px;
	 line-height: 1.2em;
}
.client-main .wrap h6 {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 11px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	line-height: 1.8em;
	margin-top: 8px;
	color:#fff;
	display: none;
}
.client-main .wrap span {
	font-size: 9px;
	color:rgba(255, 255, 255, 0.5);
}
.client-main .wrap img.client-logo {
	width: 150px;
	margin-bottom: 30px;
	padding-bottom: 10px;
	display: none;
}
.client-text {
	background: #f1efec;
	padding-top: 50px;
	padding-bottom: 100px;
	display: none;
}

.client-text .wrap {
	width: 70%;
	margin: 0 auto;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.client-text .wrap p {
	font-family: 'BrandonGrotesque-Medium';
	font-weight: 200;
	font-size: 16px;
	font-weight: 200;
	color:#010b16;
}

.prev-next-clients {
	background: #f1efec;
	padding-top: 50px;
	padding-bottom: 120px;
	display: none;
}
.prev-next-clients .wrap {
	width: 80%;
	margin: 0 auto;	
}
.prev-client:before {
	content:url(img/arrow-prev-client.png);
	position: absolute;
	top:1px;
}
.prev-client {
	float: left;
	text-align: left;
	font-family: 'BrandonGrotesque-Medium';
	font-weight: 200;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color:#514933;
	position: relative;
}
.prev-client span {
	font-size: 12px;
	letter-spacing: 0.15em;
	padding-left: 50px;
}
.prev-client a {
	color:#514933;
	padding-left: 50px;
}
.prev-client a:hover {
	text-decoration: underline;
}


.next-client:after {
	content:url(img/arrow-next-client.png);
	position: absolute;
	top:1px;
}
.next-client {
	float: right;
	text-align: right;
	font-family: 'BrandonGrotesque-Medium';
	font-weight: 200;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color:#514933;
	position: relative;
	margin-right: 50px;
}
.next-client span {
	font-size: 12px;
	letter-spacing: 0.15em;
	padding-right: 15px;
}
.next-client a {
	color:#514933;
	padding-right: 15px;
}
.next-client a:hover {
	text-decoration: underline;
}

/*------------------------------------*\
	BROWSE CLIENTS
\*------------------------------------*/
.browse-clients {
	background:url('/wp-content/themes/successean/img/speckled-bg.jpg');
	background-size: cover;
	text-align: center;
}
.browse-clients img {
	width: 100%;
	max-width: 600px;
	padding-top: 30px;
	padding-bottom: 30px;
	opacity: 0.8;
}
.weills-world {
	position: relative;
}
.weills-world h3 {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 22px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	line-height: 1.1em;
	color:#fff;
	width: 300px;
	padding: 5px;
	position: absolute;
	top:100px; right:0; bottom:0; left:0;
	margin: auto;
}

.weills-world button{
	font-family: 'BrandonGrotesque-Medium';
	font-size: 11px;
	font-weight: 200;
	text-transform: uppercase;
	color:#fff;
	background: transparent;
	text-align: center;
	border:2px solid #fff;
	padding: 12px 20px;
	height: 40px;
	width: 220px;
	position: absolute;
	top:0; right:0; bottom:0; left:0;
	margin: auto;
}
.weills-world button a {
	color:#fff;
}

/*------------------------------------*\
	POSTER GALLERY
\*------------------------------------*/
.poster-wrapper {
	background-color:rgba(18, 12, 14, 1);	
	overflow: hidden;
}
.poster-gallery {
	width: 70%;
	float: left;
}
.poster-side {
	width: 30%;
	float: right;
	position: fixed;
	right: 0;
}
.poster-side-header {
	background-image: url(img/poster-back.jpg);
	background-repeat: no-repeat;
	height: 192px;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
.poster-side h2 {
	width: 70%;
	margin: 0 auto;
	padding-top: 60px;
	text-align: center;
    font-family: 'BrandonGrotesque-Medium';
    font-weight: 200;
    font-size: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #c2ad79;
}
.poster-side h4 {
	margin: 0 auto;
	text-align: center;
    font-family: 'BrandonGrotesque-Medium';
    font-weight: 200;
    padding-top: 20px;
    font-size: 13px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
}
.poster-side p {
	width: 93%;
	margin: 0 auto;
    font-family: 'BrandonGrotesque-Light';
    font-weight: 200;
    font-size: 15px;
    line-height: 1.4em;
    padding-bottom: 15px;
    color: #fff;
}

/*------------------------------------*\
	WHAT WE DO
\*------------------------------------*/
body.what-we-do {
	background: #f1efec;	
}
.three-col-layout {
	overflow:hidden;
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	background: #f1efec;
}
.col-layout {
	float: left;
}

.col-service {
	width: 25%;
}
.col-serv-list {
	padding-left: 30px;
	padding-right: 12px;
}
.col-serv-list h3 {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 11px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	color:#010b16;
	padding-bottom: 4px;
	border-bottom: 5px solid #514933;
}
.col-serv-list ul {
	margin-top: 5px;
	padding-left: 10px;
}
.col-serv-list ul li {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 13px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	line-height: 3em;
	color:#c2ad79;
	border-bottom: 1.51px solid rgba(115, 112, 112, 0.4);
}
.col-serv-list ul li a {
	color:#c2ad79;
}
.col-serv-list ul li:last-child {
	border-bottom:0;
}


.col-focal {
	width: 50%;
	height: 500px;
	padding-top: 60px;
	position: relative;
	background-repeat: no-repeat;
	/*background-position: center top;
  	background-size: contain;*/
  						
}
.col-focal-overlay {
	width: 95%;
	height: 600px;
	padding: 40px 20px 60px;
	margin: -60px auto auto;
	text-align: center;
	 /* Put this on top of the blurred layer */
  	position: relative;
	z-index: 100;

  	background-size:100% 100%;
  	background-repeat: no-repeat;
}

.col-focal-overlay-1 {
	width: 70%;
	height: 60%;
	padding: 40px 20px 60px;
	margin: auto;
	text-align: center;
	 /* Put this on top of the blurred layer */
  	position: relative;
	z-index: 100;
	background: rgb(34,34,34); /* for IE */
  	background: rgba(34,34,34,0.6);
}

.overlay-bg{
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  width: 70%;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
  -webkit-filter: blur(8px);
  filter: url('/media/blur.svg#blur');
  filter: blur(8px);
}

.col-focal-overlay h2,
.col-focal-overlay-1 h2 {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color:#fff;
	margin-bottom: 20px;
}
.col-focal-overlay h2,
.col-focal-overlay p {
	width: 80%;
	padding: 20px;
	margin: auto;
	background: rgb(34,34,34); /* for IE */
  	background: rgba(34,34,34,0.6);
}
.col-focal-overlay p {
	padding-top:0;
}
.col-focal-overlay h2 {
	padding-bottom: 0;
}
.col-focal-overlay p,
.col-focal-overlay-1 p {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 14px;
	letter-spacing: 0.1em;
	line-height: 2em;
	color:#fff;
}

.col-focal h4 {
	position: absolute;
	bottom:90px;
	right: 30px;
	font-family: 'BrandonGrotesque-Light';
	font-weight: 200;
	font-size: 12px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color:#fff;
	margin-bottom: 20px;
	text-align: right;
}
.col-focal h4 span.next-title {
	font-size: 16px;
}

.col-test {
	width: 20%;
	margin-top: 35px;
	padding-left: 25px;
}
.col-test .quote-block  {
	margin-bottom: 20px;
}
.col-test .quote-block q{
	font-size: 13px;
	font-family: 'ZocaloText';
	font-weight: normal;
	font-style: italic;
	color:#010b16;
}
.col-test .quote-block p {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 13px;
	font-weight: 200;
	letter-spacing: 0.05em;
	line-height: 2.25em;
	color:#010b16;
}
.test-block h3 {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 11px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	color:#010b16;
	padding-bottom: 5px;
	border-bottom: 5px solid #514933;
}
.col-test .test-quote-block {
	margin-top:3px;
	padding: 10px;
	background: #514933;
}
.col-test .test-quote-block q{
	font-size: 12px;
	font-family: 'ZocaloText';
	font-weight: 100;
	font-style: italic;
	color:#fff;
	-webkit-font-smoothing: antialiased;
}
.col-test .test-quote-block p {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 13px;
	font-weight: 200;
	letter-spacing: 0.05em;
	line-height: 2.25em;
	color:#fff;
}






/*------------------------------------*\
	WHO WE ARE
\*------------------------------------*/
body.who-we-are {
	background: #FEF4E9;
}
body.who-we-are .weill-nav-alt {
	background-color: rgba(1, 11, 22, 1);
}
.wwa-hero {
	background-size: 100% 100%;
	height: 550px;
	padding-top: 90px;
	margin-top: -45px;
}

.column-blocks {
	width: 400px;
	float: left;
	text-align: right;
}
.column-block-top {
	position: relative;
}
img.column-top {
	width: 270px;
	height: 580px;

}
.column-block-top .member-roll {
	position: absolute;
	top:45px;
	right:40px;
	text-align: right;
	display: none;
}
.column-block-top .member-roll h5 {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 16px;
	color:#fff;	
	margin-bottom: 10px;
}
.column-block-top .member-roll h5 a {
	color:#fff;
}
.column-block-top .member-roll ul li {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 14px;
	letter-spacing: 0.05em;
	font-weight: 300;
	color:#fff;	
	padding-top: 10px;
	padding-bottom: 10px;
	width: 170px;
	text-align: right;
}
.column-block-top .member-roll ul li a {
	color:#fff;
}


.column-block-bottom {
	position: relative;
}
body.who-we-are .column-block-bottom {
	display: none;
}
body.who-we-are img.column-top {
	height: 610px;
	display: none;
}
img.column-bottom {
	width: 270px;
	height: 580px;

}
.column-block-bottom .member-roll {
	position: absolute;
	top:45px;
	right:40px;
	text-align: right;
}
.column-block-bottom .member-roll ul li {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 10px;
	color:#c2ad79;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 0.15em;
	width: 190px;
	padding-top:15px;
	padding-bottom: 15px;
	border-bottom:1px solid #c2ad79;
}
.column-block-bottom .member-roll ul p {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 10px;
	color:#fff;
	text-transform: none;
	line-height: 1.9em;
	padding-top: 3px;
}

body.who-we-are .content-container {
	overflow: hidden;
	margin-bottom: 210px;
}

.hero-wwa-text {
	width: 75%;
	margin: 0 auto;
}
.hero-wwa-text h3 {
	color:#fff;
	font-family: 'BrandonGrotesque-Medium';
	font-size: 30px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	text-align: left;
	text-transform: uppercase;
	 margin-bottom: 20px;
	 line-height: 1.2em;
}
.hero-wwa-text h5 {
	color:#fff;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 21px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	text-align: left;
	 margin-bottom: 40px;
	 line-height: 1.2em;
}
.hero-wwa-text p {
	color:#fff;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 19px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	text-align: left;
	 margin-bottom: 20px;
	 line-height: 1.2em;
}
.hero-wwa-text p span.intro-text {
	font-family: 'BrandonGrotesque-Bold';
	text-transform: uppercase;
	font-size: 17px;
	letter-spacing: 0.1em;
	color:#02162d;
}

img.weill-logo-2 {
	position: absolute;
	width: 200px;
	bottom:80px;
	left:0;
	right:0;
	margin:auto;
	display: none;
}

.wwa-second-level {
	padding-top: 45px;
	text-align: left;
	overflow: hidden;
	margin-bottom: 150px;
}
.wwa-second-level-text {
	width: 70%;
	margin: 0 auto;
}
.wwa-second-level-text p {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 18px;
	color:#010b16;
	margin-bottom: 30px;
}

.wwa-second-level-text span.second-level-intro {
	font-family: 'BrandonGrotesque-Medium';
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.1em;
	color:#02162d;
}




/*------------------------------------*\
	ACCOLADES
\*------------------------------------*/
body.accolades {
	background: #f1efec;
}
body.accolades .weill-nav-alt {
	background-color: rgba(77, 81, 81, 0.3);
}
body.accolades .wwa-second-level {
	margin-bottom: 500px;
	margin-left: 460px;
	margin-right: 2%;
}
.accolades-hero {
	background-size: contain;
	padding-top: 130px;
	margin-top: -45px;
}

.column-blocks {
	width: 400px;
	float: left;
	text-align: right;
}
.column-block-top {
	position: relative;
}
img.column-top-acc {
	width: 270px;
	height: 480px;

}
.column-block-top .member-quote {
	position: absolute;
	top:45px;
	right:20px;
	text-align: center;
}
.column-block-top .member-quote p {
	font-family: 'BrandonGrotesque-Light';
	font-weight: 200;
	font-size: 14px;
	color:#fff;	
	margin-bottom: 10px;
	width: 220px;
}

.column-block-top .member-quote h6 {
	font-family: 'BrandonGrotesque-Light';
	font-size: 11px;
	color:#fff;	
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1.8em;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 220px;
}
.column-block-top .member-quote h6 span.member-position{
	font-family: 'BrandonGrotesque-Light';
	font-size: 9px;
	color:rgba(255, 255, 255, 0.6);	
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
	width: 220px;
}
.column-block-top .member-quote img.featured-on {
	margin-top: 10px;
	width: 180px;
}
.column-block-top .member-quote button{
	display: block;
	font-family: 'BrandonGrotesque-Bold';
	font-size: 11px;
	color:#514933;	
	text-transform: uppercase;
	margin: 30px auto 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 180px;
}
.column-block-top .member-quote button a {
	color:#514933;	
}
.column-block-bottom {
	position: relative;
}
img.column-bottom {
	width: 270px;
	height: 580px;

}
.column-block-bottom .member-test {
	position: absolute;
	top:45px;
	right:20px;
	text-align: center;
}
.column-block-bottom .member-test h5 {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 12px;
	color:#c2ad79;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.15em;
	width: 220px;
	padding-bottom: 15px;
	text-decoration: underline;
}
.column-block-bottom .member-test p {
	font-family: 'BrandonGrotesque-Light';
	font-size: 11px;
	color:#fff;	
	letter-spacing: 0.1em;
	line-height: 1.8em;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 220px;
	text-align: left;
}

.psgal figure {
	padding: 20px !important;
	background: rgba(77, 81, 81, 0.1);
}
.psgal figure figcaption {
	text-align: left;
	padding: 10px 10px 10px 0;
	font-family: 'BrandonGrotesque-Regular';
	color:#000;
	font-size: 14px !important;
}
body.accolades .column-blocks {
	width: 300px;
}

/*------------------------------------*\
	BLOG
\*------------------------------------*/
body.blog {
	background: #f1efec;
}
body.blog .weill-nav-alt {
	background-color: rgba(77, 81, 81, 0.3);
}
body.blog .column-blocks {
	width: 400px;
    float: left;
    text-align: right;
    position: fixed;
    z-index: -1;
    top: 0;
}
img.logo-col-block {
	width: 270px;
}
img.column-archive {
    width: 270px;
    height: 85vh;
}
.blog-block {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 80px;
    margin-bottom: 500px;
    margin-left: 400px;
}
.blog-post {
	margin-bottom: 60px;
}
.blog-posts h2 {
	font-family: 'BrandonGrotesque-Regular';
    font-weight: 200;
    font-size: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    width: 80%;
    margin: 0 auto;
}

.blog-posts img {
	width: 100%;
	max-width: 600px;
	max-width: 400px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.blog-posts p {
	font-family: 'BrandonGrotesque-Light';
    font-weight: 200;
    font-size: 16px;
    line-height: 1.8em;
    margin-bottom: 10px;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.blog-widgets{
	position: absolute;
	top:30px;
	right:20px;
	text-align: center;
	width: 220px;
}
.blog-widgets div{
	margin: 30px auto;
}
.blog-widgets div h3 {
	font-family: 'BrandonGrotesque-Regular';
    font-weight: 200;
    font-size: 15px;
    color: #514933;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #c2ad79;
}
.blog-widgets div ul li {
	font-family: 'BrandonGrotesque-Light';
    font-weight: 200;
    font-size: 15px;
    color: #514933;
    line-height: 1.8em;
    padding-bottom: 5px;
    color: #fff;
}
.blog-widgets div ul li a {
	color:#fff;
}
.accolades-hero {
	background-size: contain;
	padding-top: 130px;
	margin-top: -45px;
}


/*------------------------------------*\
	CONTACT US
\*------------------------------------*/
body.contact-us {
	background:#010b16;
}
body.contact-us .page-wrap{
	background:#02162d;
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}
body.contact-us .weill-nav-alt {
	background-color:#010b16;
}
body.contact-us .weill-nav-alt h6{
	color:#514933;
}

.contact-block .wrap {
	width: 55%;
	margin:30px auto;
	padding-top: 70px;
}
.contact-block .wrap h1{
	font-family: 'BrandonGrotesque-Regular';
	font-size: 28px;
	color:#514933;	
	letter-spacing: 0.25em;
	line-height: 1.8em;
	margin-top: 5px;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: left;
	display: none;
}


/*CONTACT FORM*/

div.wpcf7 {
	border: 1px solid #FEF4E9;
	padding: 30px 50px;
	margin-left: 40px;
	position: relative;
}
div.wpcf7:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -6px;
  left: 3px;
  right: 3px;
  bottom: -6px;
  border: 1px solid #c2ad79;
}
div.wpcf7 p {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 15px;
	color:#FEF4E9;	
	letter-spacing: 0.1em;
	line-height: 1.8em;
	margin-top: 5px;
	margin-right: 30px;
	padding-bottom: 10px;
	text-transform: uppercase;
	text-align: left;
	display: block;
}

div.wpcf7 input {
	background-color: rgba(254, 244, 233, 0.2);
	border:0;
	border-bottom: 2px solid #010b16;
	height: 32px;
	width: 100%;
	margin-top: 5px;
	color:#fff;
}
div.wpcf7 textarea {
	background-color: rgba(254, 244, 233, 0.2);
	border:0;
	border-bottom: 2px solid #010b16;
	height: 78px;
	width:100%;
	margin-top: 5px;
	color:#fff;
	vertical-align: middle;
}

div.wpcf7 p.contact-notice {
	font-family: 'ZocaloText';
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 0em;
	text-transform: uppercase;
	text-align: center;
	width: 120px;
	padding: 9px;
	vertical-align: middle;
	border: 10px solid transparent;
	-webkit-border-image: url(img/border-notice.png) 10% round; /* Safari 3.1-5 */
    -o-border-image: url(img/border-notice.png) 10% round; /* Opera 11-12.1 */
    border-image: url(img/border-notice.png) 10% round;
    display: none;
}
div.wpcf7 input[type="submit"] {
	background: #010b16;
	border: 0;
	width: 130px;
	height: 36px;
	font-size:12px;
	letter-spacing: 0.1em;
	color:#fff;
	text-transform: uppercase;
	position: relative;
}

div.wpcf7-mail-sent-ok {
	font-family: 'BrandonGrotesque-Light';
    font-weight: 200;
    font-size: 13px;
    color: #514933;
    line-height: 1.8em;
}
/*------------------------------------*\
	FOOTER
\*------------------------------------*/
.footer-links {
	width: 80%;
	margin:0 auto;
	padding-top: 20px;
}
.footer-links ul  {
	margin-bottom: 10px;
	overflow: hidden;
}
.footer-links ul li{
	float: left;
	width: 25%;
	text-align: center;
	padding-bottom: 4px;
}
.footer-links ul li a {
	font-family: 'BrandonGrotesque-Medium';
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color:#fff;
}

.footer-links ul li:nth-child(odd) {
	background-color:#02162d;
	background-size: contain;
}
.footer-links ul li:nth-child(even) {
	background-color:#02162d;
	background-size: contain;
}

.footer-text ul {
	text-align: center;
}

.footer-text ul li {
	display: inline-block;
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 13px;
	color:#010b16;
}
.footer-text ul li a {
	color:#010b16; 
}
.footer-text ul li:first-child {
	padding-left: 0;
}
.footer-text ul li:last-child {
	padding-right: 0;
}
.footer-text ul li:after {
	content: url('/wp-content/themes/successean/img/dot.png');
	margin-left: 10px;
	margin-right: 10px;
}
.footer-text ul li:last-child:after {
	content: '';
}

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family: 'BodoniFLF';
	src: url('BodoniFLF-Italic.eot');
	src: url('BodoniFLF-Italic.eot?#iefix') format('embedded-opentype'),
		url('BodoniFLF-Italic.woff') format('woff'),
		url('BodoniFLF-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'BodoniFLF';
	src: url('BodoniFLF-Bold.eot');
	src: url('BodoniFLF-Bold.eot?#iefix') format('embedded-opentype'),
		url('BodoniFLF-Bold.woff') format('woff'),
		url('BodoniFLF-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'BodoniFLF';
	src: url('BodoniFLF-Roman.eot');
	src: url('BodoniFLF-Roman.eot?#iefix') format('embedded-opentype'),
		url('BodoniFLF-Roman.woff') format('woff'),
		url('BodoniFLF-Roman.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'BodoniFLF';
	src: url('BodoniFLF-BoldItalic.eot');
	src: url('BodoniFLF-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('BodoniFLF-BoldItalic.woff') format('woff'),
		url('BodoniFLF-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


@font-face {
	font-family: 'BrandonGrotesque-Medium';
	src: url('fonts/BrandonGrotesque-Medium.eot');
	src: url('fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Medium.woff') format('woff'),
		url('fonts/BrandonGrotesque-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Bold';
	src: url('fonts/BrandonGrotesque-Bold.eot');
	src: url('fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Bold.woff') format('woff'),
		url('fonts/BrandonGrotesque-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-RegularItalic';
	src: url('fonts/BrandonGrotesque-RegularItalic.eot');
	src: url('fonts/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-RegularItalic.woff') format('woff'),
		url('fonts/BrandonGrotesque-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Regular';
	src: url('fonts/BrandonGrotesque-Regular.eot');
	src: url('fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Regular.woff') format('woff'),
		url('fonts/BrandonGrotesque-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Thin';
	src: url('fonts/BrandonGrotesque-Thin.eot');
	src: url('fonts/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Thin.woff') format('woff'),
		url('fonts/BrandonGrotesque-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Black';
	src: url('fonts/BrandonGrotesque-Black.eot');
	src: url('fonts/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Black.woff') format('woff'),
		url('fonts/BrandonGrotesque-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-ThinItalic';
	src: url('fonts/BrandonGrotesque-ThinItalic.eot');
	src: url('fonts/BrandonGrotesque-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-ThinItalic.woff') format('woff'),
		url('fonts/BrandonGrotesque-ThinItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-LightItalic';
	src: url('fonts/BrandonGrotesque-LightItalic.eot');
	src: url('fonts/BrandonGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-LightItalic.woff') format('woff'),
		url('fonts/BrandonGrotesque-LightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Light';
	src: url('fonts/BrandonGrotesque-Light.eot');
	src: url('fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Light.woff') format('woff'),
		url('fonts/BrandonGrotesque-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ZocaloText';
	src: url('ZocaloText-Regular.eot');
	src: url('ZocaloText-Regular.eot?#iefix') format('embedded-opentype'),
		url('ZocaloText-Regular.woff') format('woff'),
		url('ZocaloText-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width:890px) {
	.weill-nav h6 {
		display: none;
	}
	.weill-nav-alt h1 {
		display: none;
	}
	.weill-nav-alt h6 {
		display: none;
	}
	.weill-nav {
		width: 100%;
	}
	.weill-top-level-alt {
		width: 100%;
	}
	.weill-nav-alt ul {
		width: 100%;
	}
	.weill-nav-alt ul li a.open-sesame {
		margin-right: 140px;
	}
	.weill-nav-alt img.new-logo {
		height: 80px;
		top:-36px;
	}
	.landing-text {
		top:80px;right:0;bottom:0;left:0;
		margin: auto;
		width: 80%;
	}
	.landing-text h5 {
		font-size: 21px;
	}
	body.home ul#menu-header-menu {
		position: absolute;
		width: 100%;
	}

	.weill-nav ul li:nth-child(odd) {
		background-color: rgba(243, 144, 29, 1);
	}
	.weill-nav ul li:nth-child(even) {
		background-color: rgba(81, 73, 51, 1);
	}
	.weill-nav ul li.weill-top-level {
		background-color: transparent;
		padding: 0;
	}
	.opening-text h2 {
		font-size: 21px;
	}
	.opening-text p {
		width: 100%;
	}
	.our-services-button button {
		margin-top: 0;
	}

	.serv-grid {
		width: 100%;
	}

	.serv-grid h3 {
		font-size: 20px;
	}
	.serv-grid p {
		font-size: 14px;
	}

	.footer-links ul li {
		float:none;
		width: 100%;
	}
	.footer-text {
		padding-top: 10px;
		padding-bottom:10px;
	}
	.footer-text ul li {
		width: 100%;
		font-size: 14px;
	}
	.footer-text ul li:after {
		content:'';
	}

	.client-grid {
		width: 100%;
	}
	.client-hero {
		width: 100%;
	}

	.column-blocks {
		width: 100%;
	}
/*	img.column-top-acc {
		width: 100%;
	}*/
	.column-block-top .member-quote {
		width: 100%;
		top:0;right:0;bottom:0;left:0;
	}

	.contact-block .wrap {
		width: 90%;
	}
	.contact-block .wrap h1 {
		font-size: 22px;
		line-height: 1.3em;
		text-align: center;
	}



	div.wpcf7 {
		margin-left: auto;
		padding: 15px 20px;
	}
	div.wpcf7 input {
		width: 100%;
	}
	div.wpcf7 textarea {
		width: 100%;
	}
	div.wpcf7 p {
		width: 100%;
	}
	div.wpcf7 p.contact-notice {
		margin: 15px auto;
		width: auto;
	}
	div.wpcf7 input[type="submit"] {
		width: 100%;
	}
	body.accolades .column-blocks {
		width: 270px;
		text-align: left;
	}
	body.accolades .column-block-top .member-quote p {
		margin: 0 auto;
		padding-top: 20px;
	}
	.column-block-top .member-quote h6 {
		margin: 0 auto;
	}
	body.accolades .wwa-second-level {
		margin-left: 280px;
		margin-bottom: 20px;
		padding-top: 35px;
	}
	body.blog .column-blocks {
		width: 270px;
	}
	.blog-block {
		margin-left: 280px;
	}
	.blog-posts img {
		width: 90%;
	}
	.blog-widgets div {
		margin: 20px auto 0;
	}

	body.what-we-do .col-test {
		display: none;
	}
	body.what-we-do .col-service {
		width: 100%;
	}
	.col-focal {
		width: 90%;
		margin: 20px auto;
		height: auto;
		background-image: none !important;
	}
	.col-focal-overlay {
		width: 90%;
	}
	.col-layout {
		float: none;
	}
	.overlay-bg {
		display: none;
	}
	.col-serv-list h3 {
		text-align: center;
	}
	.col-serv-list ul {
		padding-left: 0;
	}
	.col-serv-list ul li {
		text-align: center;
		line-height: 2.5em;
	}


	img.weill-logo-2 {
		display: none;
	}
	body.who-we-are .column-block-bottom {
		display: none;
	}
	body.who-we-are .column-block-top {
		display: none
	}
	body.who-we-are .hero-wwa-text {
		width: 90%;
		margin: 0 auto;
		float: none;
	}
	body.who-we-are .wwa-second-level {
		padding-top: 35px;
	}
	body.who-we-are .wwa-second-level-text {
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	body.who-we-are .hero-wwa-text h3,
	body.who-we-are .hero-wwa-text h5,
	body.who-we-are .hero-wwa-text p {
		text-align: center;
	}
}
@media only screen and (max-width:590px) {
	.weills-world h3 {
		top: 30px;
	}
	.weills-world button {
		top:30%;
	}


	.blog-block {
		margin-left: auto;
		margin-bottom: auto;
		padding-top: 30px;
	}
	.blog-posts h2 {
		font-size: 16px;
	}
	.blog-posts img {
		width: 80%;
	}


	body.accolades .column-blocks {
		display: none;
	}
	body.accolades .wwa-second-level {
		margin-left: 2%;
		margin-bottom: 0;
	}
	body.blog .column-blocks {
		display: none;
	}
	body.blog .column-block-top {
		display: none;
	}

	.landing-text {
		top:50px;
		width: 98%;
	}
	.landing-text h5 {
		font-size: 17px;
		margin-bottom: 10px;
	}
	img.arrow-down {
		margin-bottom: 5px;
	}
}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
